{{ form_start(form) }}
    {{ form_row(form.name) }}
   <div class="mt-4 pt-2 d-flex justify-content-center">
        <button class="btn bg-dark lightColor">{{ button_label|default('Enregistrer') }}</button>
    </div>

{{ form_row(form._token) }}
{{ form_end(form, {'render_rest': false}) }}
