{% extends 'base.html.twig' %}

{% block title %}Listes de course{% endblock %}

{% block body %}
    <h1 id="listeCourse">Mes listes de course</h1>
    <div class="d-flex justify-content-center">
        <a href="{{ path('app_course_new') }}">
            <i class="bi bi-plus-circle darkColor" style="font-size: 50px"></i>
        </a>
    </div>

    <div class="row d-flex justify-content-evenly bg-light mb-5">
    {% for course in courses %}
    {% if app.user and connectedUser == course.user %}
        <div class="card my-2 col-lg-5 col-10 px-0 mx-1">
            <div class="card-header d-flex justify-content-evenly align-items-center">
                <h5 class="mb-0">{{ course.name }}</h5>
                
                <a href="{{ path('app_course_edit', {'id': course.id}) }}" class="ms-2">
                    <i class="bi bi-pen" style="font-size: 20px"></i>
                </a> 
                {# {{ include('course/_delete_form.html.twig') }}   #}
            </div>
            
            <div class="card-body">
                <h6 class="card-title text-center mb-2">{{ course.dateCourse ? course.dateCourse|date('d-m-Y') : '' }}</h6>

                <div class="card my-2">
                    <h6 class="card-title text-center my-2">Recettes</h6>
                    <p class="text-start mx-0 px-1">
                    {% for course_recette in recettes %}
                        {% if course_recette.course() and course_recette.course().id() == course.id %}
                        <div class="d-flex justify-content-start px-1">
                            {{ course_recette.recette().name() }} ( {{ course_recette.qty }} couverts) 
                            <a href="{{ path('recette_show', {'id': course_recette.recette.id}) }}" class="mx-2">
                                <i class="bi bi-info-circle" style="font-size: 20px"></i>
                            </a>
                            <a href="{{ path('app_course_recette_edit', {'id': course_recette.id}) }}" class="mx-2">
                                <i class="bi bi-pen" style="font-size: 20px"></i>
                            </a> 
                            {{ include('course_recette/_delete_form.html.twig') }}
                        </div>
                        {% endif %}
                    {% endfor %}
                    </p>
                </div>
                <div class="card my-2">
                    <h6 class="card-title text-center my-2">Ingrédients</h6>
                    <p class="text-start mx-0 px-3">
                    {% for ingredientsPerList in ingredientList %}
                        {% if ingredientsPerList.id == course.id %}
                        <ul>
                        {% for ingredient in ingredientsPerList.ingredients %}
                            <li>{{ ingredient.qty }} {{ ingredient.unite }} {{ ingredient.name }} </li>
                        {% endfor %}
                            </ul>
                        {% endif %}
                    {% endfor %}
                    </p>
                </div>
            </div>
        </div>
    {% endif %}  
        {# <div>
            Aucune Liste enregistré
        </div>  #}
    
    {% else %}
    
        <div>
            Aucune Liste
        </div>
    
    {% endfor %}    
    </div>

    <!-- bouton up -->
    <div class="container">
        <div class="col-12">
            <a href="#listeCourse">
                <div class="text-end me-5">
                    <i class="bi bi-chevron-up border border-2 rounded p-2 fs-5"></i>
                </div>
            </a>
        </div>
	</div>

{% endblock %}
