{% extends 'base.html.twig' %}

{% block title %}Editer {{recette.name}}{% endblock %}

{% block body %}
<section class="mb-5">
    <h1>Editer la recette</h1>

    <div class="my-5">
        {{ include('recette/_form.html.twig', {'button_label': 'Mettre à jour la recette'}) }}
        {{ include('source/_form.html.twig', {'button_label': 'Ajouter une source'}) }}
    </div>

    <div class="row d-flex justify-content-evenly">
    {% for ingredient_per_recette in ingredient_per_recettes %}
    {% if ingredient_per_recette.recette == recette %}
        <div class="card my-2 col-lg-3 px-0 mx-1">
            <div class="card-header d-flex justify-content-evenly">
                <h5 class="text-center">{{ ingredient_per_recette.ingrediient }}</h5>
                
                
            </div>
            
            <div class="card-body">
                <p class="card-text text-center">
                    {{ ingredient_per_recette.qty }}
                    {% if ingredient_per_recette.unite %}
                    {{ ingredient_per_recette.unite }}
                    {% endif %}</p>
                <p> 
                <div class="d-flex justify-content-evenly align-items-center">
                    {# <div><a href="{{ path('app_ingredient_per_recette_edit', {'id': ingredient_per_recette.id}) }}"><i class="bi bi-pen"></i></a></div> #}
                    <div class="mx-2">{{ include('ingredient_per_recette/_delete_form.html.twig') }}</div>
                </div>             

            </div>
        </div>
    {% endif %}
    {# {% else %}
        <div>
            Aucun ingrédient enregistré
        </div> #}
        
    {% endfor %}
    </div>


    <div class="row mt-5">
        <div class="col-lg-6">{{ include('ingredient_per_recette/_form.html.twig',{'button_label': 'Ajouter un ingrédient dans la recette'} ) }}</div>
        <div class="col-lg-6">{{ include('ingredient/_form.html.twig', {'button_label': 'Ajouter un ingrédient'}) }}</div>
    </div>

    <div class="text-center">
    {% if referer %}
        <button class="btn btn-lg btn-primary"><a href="{{ absolute_url(referer) }}">RETOUR</a></button>
    {% else %}
        <button class="btn btn-lg btn-primary"><a href="{{ path('recettes') }}">RETOUR</a></button>
    {% endif %}
    </div>
   

    {# {{ include('recette/_delete_form.html.twig') }} #}
</section>
{% endblock %}
