{% extends 'base.html.twig' %}

{% block title %}Recettes{% endblock %}

{% block body %}
    <h1>Liste des recettes</h1>

    
    {{ form_start(searchForm) }}
    <div class="row align-items-center mb-3 text-center">
        <div class="col-lg-4 mt-3">
        {% if app.session.get('filtres') is not null and app.session.get('filtres')["search"] %}
            {{ form_widget(searchForm.search, {'value': filtres.search}) }}
        {% else %}
            {{ form_widget(searchForm.search) }}
        {% endif %}
        </div>
        <div class="col-lg-4 mt-3">
        {{ form_widget(searchForm.Filtrer) }}
        </div>
    </div>
    {{ form_row(searchForm._token) }}
    {{ form_end(searchForm, {'render_rest': false}) }}
    

    {% if app.user %}
        <div class="d-flex justify-content-center">
            <a href="{{ path('recette_new') }}">
                <i class="bi bi-plus-circle darkColor" style="font-size: 50px"></i>
            </a>
        </div>
    {% endif %}

    <div class="row d-flex justify-content-evenly bg-light mb-5">
    {% for recette in recettes %}
        <div class="card my-2 col-lg-3 col-10 px-0 mx-1">
            <div class="card-header d-flex justify-content-evenly align-items-center">
                <h5 class="mb-0">{{ recette.name }}</h5>
                <a href="{{ path('recette_show', {'id': recette.id}) }}" class="mx-2">
                    <i class="bi bi-info-circle" style="font-size: 20px"></i>
                </a>
                {% if app.user and connectedUser == recette.user %}
                    <a href="{{ path('recette_edit', {'id': recette.id}) }}" class="ms-2">
                        <i class="bi bi-pen" style="font-size: 20px"></i>
                    </a>                    
                {% endif %}
            </div>
            
            <div class="card-body">
                <h6 class="card-title text-center mb-2">{{ recette.source }}</h6>                
                <div class="card">
                    <h6 class="card-title text-center my-2"> Ingrédients</h6>
                    <p class="text-start mx-0 px-3">
                    {% for ingredient in ingredients %}
                        {% if ingredient.recette() and ingredient.recette().id() == recette.id %}
                            {{ingredient.qty}} {{ingredient.unite}} {{ ingredient }} <br />
                        {% endif %}
                    {% endfor %}
                    </p>
                </div>

                {% if app.user and connectedUser == recette.user %}
                    {{ include('recette/_delete_form.html.twig') }}
                {% endif %}
            </div>
        </div>

    {% else %}
        <div>
            Aucune recette enregistré
        </div>
    {% endfor %}    
    </div>
{% endblock %}
