{% extends 'base.html.twig' %}

{% block title %}Recette{% endblock %}

{% block body %}
    <h1>Recette</h1>
    <div class="mb-5">
        <div class="d-flex justify-content-center">
            <div class="card my-2 col-lg-6 col-11">
                <div class="card-header d-flex justify-content-evenly align-items-center">
                    <h5 class="mb-0">{{ recette.name }}</h5>
                    
                    {% if app.user and connectedUser == recette.user %}
                        <a href="{{ path('recette_edit', {'id': recette.id}) }}" class="ms-2">
                            <i class="bi bi-pen" style="font-size: 20px"></i>
                        </a>                    
                    {% endif %}
                </div>
                
                <div class="card-body">

                    <div class="pb-2">
                    {{ form_start(form) }}

                        <div class="row text-center">
                            <div class="col-lg-4">{{ form_row(form.qty) }}</div>
                            <div class="col-lg-6">{{ form_row(form.course) }}</div>
                            <div class="col-lg-2">
                                <button class="btn">
                                    <i class="bi bi-plus-circle darkColor" style="font-size: 50px"></i>
                                </button>
                            </div>
                        </div>   
                        {{ form_row(form._token) }}
                    {{ form_end(form, {'render_rest': false}) }}
                    </div>

                    <div class="pb-2">
                    {{ form_start(formCourse) }}

                        <div class="d-flex justify-content-start align-items-center">
                            <div class="col-lg-4">{{ form_row(formCourse.name) }}</div>
                            <div class="col-lg-8">
                                <button class="btn btn-primary mx-3">
                                    Nouvelle liste de course
                                </button>
                            </div>
                        </div>   
                        {{ form_row(formCourse._token) }}
                    {{ form_end(formCourse, {'render_rest': false}) }}
                    </div>

                    <div class="row">
                        <div class="col-6">
                            <h6 class="text-start mb-2">Origine de la recette:</h6>
                            <p>{{ recette.source }}</p>

                            <h6 class="text-start mb-2">Nombre de personnes:</h6>
                            <p class="card-text text-start">
                                {{ recette.nbPersonnes }} couverts</p>
                            <p>
                        </div>

                        {% if recette.image %}
                        <div class="col-6">
                            <div>
                                <img src="{{ asset('images/recettes') }}/{{ recette.image }}" class="img-fluid" style="height: 150px"/>
                            </div>
                        </div>
                        {% endif %}

                    </div>

                    <h6 class="text-start my-2"> Ingrédients</h6>
                    <ul>
                    {% for ingredient in ingredients %}
                        {% if ingredient.recette() and ingredient.recette().id() == recette.id %}
                            <li> {{ingredient.qty}} {{ingredient.unite}} {{ ingredient }} </li>
                        {% endif %}
                    {% endfor %}
                    </ul>

                    <h6 class="text-start mb-2">Description de la recette:</h6>
                    <textarea rows="20" class="form-control card-text text-start bg-light darkColor">
                        {{ recette.description }}</textarea>
                    <p>

                    
                    {% if app.user and connectedUser == recette.user %}
                        {{ include('recette/_delete_form.html.twig') }}
                    {% endif %}
                </div>
            </div>
        </div>

        <div class="text-center mt-4">
            {# <button class="btn btn-lg btn-primary"><a href="{{ path('recettes') }}">RETOUR</a></button> #}
            {% if referer %}
                <button class="btn btn-lg btn-primary"><a href="{{ absolute_url(referer) }}">RETOUR</a></button>
            {% else %}
                <button class="btn btn-lg btn-primary"><a href="{{ path('recettes') }}">RETOUR</a></button>
            {% endif %}
        </div>

    </div>
    
 

    

    {# {% if app.user and connectedUser == recette.user %}
        <a href="{{ path('recette_edit', {'id': recette.id}) }}">edit</a>
        {{ include('recette/_delete_form.html.twig') }}
    {% endif %} #}

    
{% endblock %}
