{% extends 'base.html.twig' %}

{% block title %}CourseRecette index{% endblock %}

{% block body %}
    <h1>CourseRecette index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Qty</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for course_recette in course_recettes %}
            <tr>
                <td>{{ course_recette.id }}</td>
                <td>{{ course_recette.qty }}</td>
                <td>
                    <a href="{{ path('app_course_recette_show', {'id': course_recette.id}) }}">show</a>
                    <a href="{{ path('app_course_recette_edit', {'id': course_recette.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="3">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_course_recette_new') }}">Create new</a>
{% endblock %}
