<nav class="navbar navbar-expand-lg navbar-light bg-light fixed">
  <div class="container-fluid">
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav">
        <a class="nav-link active" aria-current="page" href="{{ path('default') }}">Home</a>
        <a class="nav-link" href="{{ path('recettes') }}">Recettes</a>
        {% if app.user %}
          <a class="nav-link" href="{{ path('app_course_index') }}">Liste de course</a>
          <a class="nav-link" href="{{ path('app_source_index') }}">Source des recettes</a>
          <a class="nav-link" href="{{ path('app_ingredient_index') }}">Ingrédients</a>
          <a class="nav-link" href="{{ path('app_logout') }}">logout</a>
        {% else %}
          <a class="nav-link" href="{{ path('app_register') }}">register</a>
          <a class="nav-link" href="{{ path('app_login') }}">login</a>
        {% endif %}
      </div>
    </div>
  </div>
</nav>
