<nav id="navBar" class="navbar navbar-expand-sm navbar-light bg-light fixed-top mb-2">
  <div class="container-fluid">
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <div class="navbar-nav d-flex justify-content-between container">
          <div class="d-flex justify-content-evenly">
            <a class="nav-link buttonHovered mx-3" href="{{ path('default') }}">Accueil</a>
            <a class="nav-link buttonHovered mx-3" href="{{ path('recettes') }}" title="Recettes">Recettes</a>
            {% if app.user %}
              <a class="nav-link buttonHovered mx-3" href="{{ path('app_course_index') }}" title="Liste de course">Liste de course</a>
            {% endif %}  
          </div>
          <div>
            {% if app.user %}
              <a class="buttonHovered mx-5" href="{{ path('app_account', {'id': app.user.id}) }}" title="Mon compte"><i class="bi bi-person" style="font-size: 30px"></i></a>
              <a class="buttonHovered mx-3" href="{{ path('app_logout') }}" title="Se déconnecter"><i class="bi bi-person-x-fill text-danger" style="font-size: 30px"></i></a>
              {% else %}
              {# <a class="nav-link buttonHovered mx-3" href="{{ path('app_register') }}">S'enregistrer</a> #}
              <a class="buttonHovered mx-5" href="{{ path('app_login') }}" title="Se connecter"><i class="bi bi-person" style="font-size: 30px"></i></a>
            {% endif %}          
          </div>
        </div>
    </div>
  </div>
</nav>
